@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-primary: #c1292e;
  --brand-background: #ffffff;
  --brand-active: #c1292e;
  --brand-header-background: #e2e1e1;
  --primary-red: #c1292e;
  --red-hover: #c1292e;
  --red-hover-2: #a41b21;
  --primary-white: #ffffff;
  --white-hover: #f2f2f2;
}

@layer base {
  html,
  body,
  #root {
    @apply h-full;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  a {
    @apply text-blue-600 underline;
  }
}

@layer components {
  .btn {
    @apply p-3 rounded-md focus:outline-none text-white;
    @apply hover:bg-blue-700 transition-all;
    @apply focus:ring disabled:opacity-50;
    background: var(--brand-primary);

    &:hover {
      background: var(--red-hover);
    }
  }

  .btn.danger {
    @apply bg-red-500 hover:bg-red-700;
  }

  .input {
    @apply rounded-md border-gray-300 transition-colors disabled:opacity-50;
  }

  .card {
    @apply p-5 rounded-md bg-white border;
  }

  .table-container {
    @apply border rounded-lg mt-5 shadow overflow-x-auto;
  }

  .table-filter {
    @apply flex flex-col lg:flex-row gap-5 rounded-lg p-3 shadow overflow-x-auto border;
  }

  .sidebar {
    @apply fixed h-full w-72 p-5 shadow flex flex-col transform -translate-x-72 bg-white lg:translate-x-0 transition-transform;
    background-image: url("../assets/sidemenu-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .link {
      background-color: var(--brand-primary);
      color: var(--primary-white);
      transition: background-color 0.3s ease;

      &:hover {
        background-color: var(--red-hover-2);
      }

      &.logout {
        background-color: transparent;
        border: 1px solid transparent;
        color: white;
        transition: all 0.3s ease;

        &:hover {
          border-color: var(--red-hover-2);
          color: var(--red-hover-2);
        }
      }
    }

    .active-link {
      background-color: var(--brand-active);
      color: var(--primary-white);
    }
  }

  .sidebar > * {
    position: relative;
    z-index: 1;
  }

  .sidebar.show {
    @apply translate-x-0 !important;
  }
}
